:root {
    --bg: #111111;
    --bg-alt: #222222;
    --fg: #00ff00;
    --fg-muted: #cacaca;
    --accent: #cacdca;
    --table-header: #000000;
    --table-row: #101010;
    --table-row-alt: #101010;
}

* {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

body {
    background: #000000;
    color: #00ff00;
    font-family: Consolas, monospace;
}

h1 {
    margin-top: 0;
}

#search {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    background: #000000;
    color: #551555;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: var(--table-row);
}

th {
    background: var(--table-header);
    color: #00ff00;
    text-align: left;
    padding: 1px;
    position: sticky;
    top: 0;
}

td {
    padding: 1px 1px;
    vertical-align: top;
}

tr:nth-child(even) {
    background: #101010;
}

tr:hover {
    background: #444444;
}

a {
    color: #00ff00;
}

.status {
    color: #000000;
    margin-bottom: 1em;
}
